.nav {
  display: flex;
  justify-content: start;
  gap: 4px;
}

.nav-spacer {
  flex: 1 1 auto;
}

.nav-icon-button {
  background-color: transparent;
  border: none;
  color: whitesmoke;
  padding: 4px;
}

.nav-icon-button:hover {
  cursor: pointer;
  background-color: rgba(245, 245, 245, 0.1);
  border-radius: 20%;
  color: whitesmoke;
}
