<section>
  <div class="p-4 flex justify-between items-center">
    <div class="p-3 rounded bg-[#212121] w-fit flex items-center shadow-xl">
      <p class="text-3xl" style="margin-bottom: 0">Top Coins:</p>
    </div>
    <button mat-raised-button (click)="onNavigate('explore')">
      Browse all
    </button>
  </div>
  <app-carousel [coins]="topCoins"></app-carousel>
</section>
<section>
  <div class="p-4 flex justify-between items-center">
    <div class="p-3 rounded bg-[#212121] w-fit flex items-center shadow-lg">
      <p class="text-3xl" style="margin-bottom: 0">Trending Coins:</p>
    </div>
    <button mat-raised-button (click)="onNavigate('explore')">
      Browse all
    </button>
  </div>
  <app-carousel [coins]="trendingCoins"></app-carousel>
</section>
<section>
  <div class="p-4 flex justify-between items-center">
    <div class="p-3 rounded bg-[#212121] w-fit flex items-center shadow-lg">
      <p class="text-3xl" style="margin-bottom: 0">My Wallets:</p>
    </div>
    <button mat-raised-button (click)="onNavigate('wallets')">
      Browse all
    </button>
  </div>
  <app-carousel [coins]="allCoins" [wallets]="wallets"></app-carousel>
</section>
