<mat-sidenav-container fullscreen>
  <mat-sidenav
    #sidenav
    class="w-full sm:w-[300px]"
    role="navigation"
    autoFocus="false"
  >
    <div
      class="flex w-full h-[64px] bg-[#212121] justify-center items-center relative"
    >
      <p
        class="text-xl hover:cursor-pointer"
        style="margin: 0"
        routerLink=""
        (click)="sidenav.toggle()"
      >
        Tracc
      </p>
      <button
        mat-icon-button
        style="position: absolute; right: 0"
        (click)="sidenav.toggle()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <ul class="p-4">
      @if (!user) {
      <li>
        <a
          routerLink="/auth/login"
          mat-button
          class="py-2 w-full"
          (click)="sidenav.toggle()"
        >
          <mat-icon>person_outline</mat-icon>Login
        </a>
      </li>
      <li>
        <a
          routerLink="/auth/signup"
          mat-button
          class="py-2 w-full"
          (click)="sidenav.toggle()"
        >
          <mat-icon>person_add</mat-icon>Signup
        </a>
      </li>
      } @else {
      <li>
        <a
          routerLink="/dashboard"
          mat-button
          class="py-2 w-full"
          (click)="sidenav.toggle()"
        >
          <mat-icon>home</mat-icon>Dashboard
        </a>
      </li>
      <li>
        <a
          routerLink="/dashboard/explore"
          mat-button
          class="py-2 w-full"
          (click)="sidenav.toggle()"
        >
          <mat-icon>explore</mat-icon>Explore
        </a>
      </li>
      <li>
        <a
          routerLink="/dashboard/wallets"
          mat-button
          class="py-2 w-full"
          (click)="sidenav.toggle()"
        >
          <mat-icon>wallet</mat-icon>Wallets
        </a>
      </li>
      }
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
