.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  opacity: 0.75;
  transition: all;
}

.mat-mdc-header-cell,
.mat-mdc-footer-cell {
  font-weight: 600;
}

.mat-mdc-footer-cell {
  text-align: end;
}
