.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover {
  background-color: #30303030;
  transition: all;
}

.mat-mdc-header-row {
  background-color: #3030306d;
  font-weight: 600;
}
